# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Otros archivos temporales
*.tmp
*.temp
*.log
*.cache

# Archivos de configuración
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.cache